{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<section id="hero" class="d-flex apgn-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <p style="display: none;" id='question_id'>{{question_id}}</p>
            <div id ='question_data'>
                <h1> Please wait for the Question </h1>
            </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <table cellpadding="10">
                <tr>
                    <th>Quistion No.</th>
                    <th>Choice a</th>
                    <th>Choice b</th>
                    <th>Choice c</th>
                    <th>Choice d</th>
                </tr>
                <tr id='ans_count'>

                </tr>
            </table>
        </div>
      </div>
    </div>
  
  </section><!-- End Hero -->

{{user_answer_counts}}
{% endblock %}

{% block js %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script>
    var url = 'wss://rup-game-realtime.herokuapp.com/ws/new/'
    var socket = new WebSocket(url);

    socket.onopen = function(e){
        console.log("Socket Connected")
    }

    socket.onmessage = function(e){
        var data = JSON.parse(e.data);
        var question_id = String(document.getElementById('question_id').innerText);
        if (data.payload2){
            addChoiceData(data.payload2)
        }

        if (data.payload){
            console.log(data)
            if (data.payload.question_id==question_id){
                addQuistionData(data.payload)
                setTimeout(function() {
                    console.log('Running Delay')
                    $('#question_data').fadeOut();}, 30000); // <-- time in milpseconds
                }
            }
        
        }

    socket.onclose = function(e){
        console.log("Socket Disconnected")
    }

    function addQuistionData(data){
        var html =`
            <h4>${data.question}</h4>
            <p>a.${data.a}</p>
            <p>b.${data.b}</p>
            <p>c.${data.c}</p>
            <p>d.${data.d}</p>

                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                                {{form|crispy}}
                        </div>
                        <div class="col-md-9" style="padding-top: 23px;">
                                <input type="submit" name="submit" value="Submit" class="btn btn-success">
                        </div>
                    </div>
                </form>
        `
       
        document.getElementById('question_data').innerHTML = html
        
    }

    function addChoiceData(data){
        var html =`
                    <td>${data.question_order}</td>
                    <td>${data.answer_count_a}</td>
                    <td>${data.answer_count_b}</td>
                    <td>${data.answer_count_c}</td>
                    <td>${data.answer_count_d}</td>
                    `

        document.getElementById('ans_count').innerHTML = html
        
    }

</script>

{% endblock js %}