{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<h1>Thank you for joining the Game</h1>
{% if question %}
    {{question.order}}.{{question}}<br>
    <p>a. {{a}}</p>
    <p>b. {{b}}</p>
    <p>c. {{c}}</p>
    <p>d. {{d}}</p>


<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{form|crispy}}
    <input type="submit" name="submit" value="Submit" class="btn btn-success">
</form>

{% endif %}

<br>
{{user_answer_counts}}
<table border="1" cellpadding="10">
    <tr>
        <th>Sl.No</th>
        <th>Number of Participants</th>
        <th>Answer Selected</th>
    </tr>
    <tr>{% for user_answer in user_answers %}
        <td></td>
        <td>{{user_answer.ans}}</td>
        <td>{{user_answer}}</td>
    </tr> {% endfor %}
</table>

{% endblock %}
