{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<h1>Thank you for joining the Game</h1>
<br>
<div id ='question_data'>
    
</div>
<br>
{{user_answer_counts}}
<table border="1" cellpadding="10">
    <tr>
        <th>Sl.No</th>
        <th>Number of Participants</th>
        <th>Answer Selected</th>
    </tr>
    <tr>{% for user_answer in user_answers %}
        <td></td>
        <td>{{user_answer.ans}}</td>
        <td>{{user_answer}}</td>
    </tr> {% endfor %}
</table>

{% endblock %}

{% block js %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script>
    var url = 'ws://localhost:8000/ws/new/'
    var socket = new WebSocket(url);

    socket.onopen = function(e){
        console.log("Socket Connected")
    }


    socket.onmessage = function(e){
        var data = JSON.parse(e.data);
        console.log(data)
        if (data.payload){
            addData(data.payload)

            setTimeout(function() {
                console.log('Running Delay')
                $('#question_data').fadeOut();}, 10000); // <-- time in milliseconds

    }
        }

        
    socket.onclose = function(e){
        console.log("Socket Disconnected")
    }


    function addData(data){
        var html =`
        <ol>
            <li>${data.question}</li>
            <li>${data.a}</li>
            <li>${data.b}</li>
            <li>${data.c}</li>
            <li>${data.d}</li>
        </ol>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{form|crispy}}
        <input type="submit" name="submit" value="Submit" class="btn btn-success">
        </form>
        `
        document.getElementById('question_data').innerHTML = html
    }

</script>

{% endblock js %}

{% if question %}
    {{question.order}}.{{question}}<br>
    <p>a. {{a}}</p>
    <p>b. {{b}}</p>
    <p>c. {{c}}</p>
    <p>d. {{d}}</p>
{% endif %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{form|crispy}}
    <input type="submit" name="submit" value="Submit" class="btn btn-success">
</form>